@font-face {
  font-family: 'yticon';
  font-weight: normal;
  font-style: normal;
  src: url('https://at.alicdn.com/t/font_1078604_w4kpxh0rafi.ttf') format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'yticon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yticon {
  font-family: 'yticon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantour-copy:before {
  content: '\e600';
}

.icon-arrow-fine-up:before {
  content: '\e601';
}

.icon-arrow-left-bottom:before {
  content: '\e602';
}

.icon-arrow-right-bottom:before {
  content: '\e603';
}

.icon-arrow-left-top:before {
  content: '\e604';
}

.icon-zuojiantou-up:before {
  content: '\e605';
}

.icon-you:before {
  content: '\e606';
}

.icon-forward:before {
  content: '\e607';
}

.icon-xiatubiao--copy:before {
  content: '\e608';
}

.icon-gouwuche:before {
  content: '\e609';
}

.icon-jia:before {
  content: '\e60a';
}

.icon-jianhao:before {
  content: '\e60b';
}

.icon-icon-test:before {
  content: '\e60c';
}

.icon-caidan:before {
  content: '\e60d';
}

.icon-hot:before {
  content: '\e60e';
}

.icon-shezhi:before {
  content: '\e60f';
}

.icon-tuijian:before {
  content: '\e610';
}

.icon-iconfontweixin:before {
  content: '\e611';
}

.icon-pinglun-copy:before {
  content: '\e612';
}

.icon-zuoshang:before {
  content: '\e613';
}

.icon-dizhi:before {
  content: '\e614';
}

.icon-zuanshi:before {
  content: '\e615';
}

.icon-zhengxinchaxun-zhifubaoceping-:before {
  content: '\e616';
}

.icon-dianzan-ash:before {
  content: '\e617';
}

.icon-xiaoxi:before {
  content: '\e618';
}

.icon-iconfontshanchu1:before {
  content: '\e619';
}

.icon-weixinzhifu:before {
  content: '\e61a';
}

.icon-fork:before {
  content: '\e61b';
}

.icon-jia1:before {
  content: '\e61c';
}

.icon-preview:before {
  content: '\e61d';
}

.icon-fenxiang2:before {
  content: '\e61e';
}

.icon-weixin:before {
  content: '\e61f';
}

.icon-fenlei1:before {
  content: '\e620';
}

.icon-dianhua-copy:before {
  content: '\e621';
}

.icon-shanchu4:before {
  content: '\e622';
}

.icon-erjiye-yucunkuan:before {
  content: '\e623';
}

.icon-shang:before {
  content: '\e624';
}

.icon-shouye:before {
  content: '\e626';
}

.icon-fenlei:before {
  content: '\e706';
}

.icon-xia:before {
  content: '\e62d';
}

.icon-shoucang2:before {
  content: '\e62e';
}

.icon-xuanzhong2:before {
  content: '\e62f';
}

.icon-gouwuche_:before {
  content: '\e630';
}

.icon-shouhoutuikuan:before {
  content: '\e631';
}

.icon-icon-test1:before {
  content: '\e632';
}

.icon-tuandui:before {
  content: '\e633';
}

.icon-alipay:before {
  content: '\e636';
}

.icon-camera-plus:before {
  content: '\e636';
}

.icon-bangzhu1:before {
  content: '\e63d';
}

.icon-zuo:before {
  content: '\e63c';
}

.icon-shoucang:before {
  content: '\e645';
}

.icon-mail:before {
  content: '\e644';
}

.icon-naozhong:before {
  content: '\e64a';
}

.icon-bianji:before {
  content: '\e646';
}

.icon-heart:before {
  content: '\e647';
}

.icon-comment:before {
  content: '\e64f';
}

.icon-iLinkapp-:before {
  content: '\e654';
}

.icon-share:before {
  content: '\e656';
}

.icon-pingjia:before {
  content: '\e67b';
}

.icon-huifu:before {
  content: '\e68b';
}

.icon-daifukuan:before {
  content: '\e68f';
}

.icon-Group-:before {
  content: '\e688';
}

.icon-shoucang_xuanzhongzhuangtai:before {
  content: '\e6a9';
}

.icon-lishijilu:before {
  content: '\e6b9';
}

.icon-user:before {
  content: '\e6bb';
}

.icon-scan:before {
  content: '\e6bc';
}

.icon-up:before {
  content: '\e6bf';
}

.icon-down:before {
  content: '\e6c0';
}

.icon-left:before {
  content: '\e6c1';
}

.icon-right:before {
  content: '\e6c2';
}

.icon-caret:before {
  content: '\e6c3';
}

.icon-comment:before {
  content: '\e6c5';
}

.icon-currency:before {
  content: '\e6c6';
}

.icon-gift:before {
  content: '\e6c7';
}

.icon-handset:before {
  content: '\e6c8';
}

.icon-check:before {
  content: '\e6c9';
}

.icon-mark:before {
  content: '\e6ca';
}

.icon-locate:before {
  content: '\e6cb';
}

.icon-ring:before {
  content: '\e6cd';
}

.icon-delete:before {
  content: '\e6ce';
}

.icon-settings:before {
  content: '\e6cf';
}

.icon-clock:before {
  content: '\e609';
}

.icon-checked:before {
  content: '\e6cc';
}

.icon-cart:before {
  content: '\e6d1';
}

.icon-clear:before {
  content: '\e6be';
}

.icon-close:before {
  content: '\e6e1';
}

.icon-shouhuodizhi:before {
  content: '\e712';
}

.icon-yishouhuo:before {
  content: '\e71a';
}

.icon-xingxing:before {
  content: '\e70b';
}

.icon-yiguoqi1:before {
  content: '\e700';
}

.icon-sousuo:before {
  content: '\e7ce';
}

.icon-jiazailoading-A:before {
  content: '\e8fc';
}

.icon-home:before {
  content: '\e8b9';
}

.icon-filter:before {
  content: '\e629';
}

.icon-search:before {
  content: '\e632';
}

.icon-phone:before {
  content: '\e618';
}

.icon-help:before {
  content: '\e617';
}

.icon-sort:before {
  content: '\e616';
}

.icon-yiguoqi:before {
  content: '\e997';
}

.icon-icon--:before {
  content: '\e744';
}

.icon-shezhi1:before {
  content: '\e61d';
}

.icon-kafei:before {
  content: '\e66a';
}

.icon-saomiao:before {
  content: '\e60d';
}

.icon-bangzhu:before {
  content: '\e679';
}
